* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: white;
}

body,
html {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
    background: #1e1a20;
    background-image: linear-gradient(to bottom, #2d2730, #0d0b0e);
}

h2 {
    text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    letter-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
}

h6 {
    font-size: 20px;
    letter-spacing: 5px;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

nav {
    color: white;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

nav ul {
    color: white;
    font-weight: bold;
    list-style: none;
    display: flex;
    gap: 4rem;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
}

section:first-of-type {
    flex-direction: column;
    gap: 1rem;
}

section:first-of-type h6 {
    animation: .5s ease-in-out 0.2s 1 slideUp;
}

section:nth-child(even) {
    justify-content: center;
}

section:nth-child(odd) {
    justify-content: center;
}

form {
    background: rgba(0, 0, 0, 0.55);
    border: 2px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    width: 640px;
    border-radius: 20px;
    margin: auto;
}

form .tophalf {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

form .tophalf .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
}

form label {
    display: block;
    font-size: 13px;
    letter-spacing: 3.5px;
    margin-bottom: 16px;
}

form .tophalf .item input {
    color: gainsboro;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: 0;
    width: auto;
    height: 44px;
    background: transparent;
    font-size: 17px;
    padding-left: 20px;
}

form .bothalf {
    margin: 5%;
}

form .bothalf textarea {
    color: white;
    background: transparent;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: 0;
    width: 100%;
    height: 200px;
    resize: none;
    font-size: 17px;
    padding: 20px;
}

form .action {
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;
}

form .action button {
    justify-content: center;
    background: transparent;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-size: 13px;
    height: 44px;
    font-weight: 700;
    letter-spacing: 3px;
    outline: 0;
    width: 155px;
}

form .action input {
    justify-content: center;
    background: transparent;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-size: 13px;
    height: 44px;
    font-weight: 700;
    letter-spacing: 3px;
    outline: 0;
    width: 155px;
}

form .action input[type="submit"] {
    background: rgba(0, 0, 0, .5);
    color: rgb(255, 255, 255);  
}

form .action input[type="reset"] {
    background: rgba(0, 0, 0, .5);
    color: rgb(255, 255, 255);
}

form .action input[class="resume"] {
    background: rgba(0, 0, 0, .5);
    color: rgb(255, 255, 255);
}

form .icons {
    display: flex;
    justify-content: center;
}

form .icons a {
    font-size: large;
    border: 1px solid white;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    width: 38px;
    margin: 5%;
}

.icon {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 90px;
    font-size: 38px;
}

.icon a {
    color: #ffffffd0;
}

.icon a:hover,
nav ul li a:hover {
    color: rgba(255, 255, 255, 0.5);
}

form .icons a:hover {
    font-size: 30px;
    transition: .5 ease-in-out;
}

form .tophalf .item input:hover,
form .bothalf textarea:hover,
form .action input[type="submit"]:hover,
form .action input[type="reset"]:hover,
form .icons a:hover {
    background: rgba(97, 97, 97, 0.123);

}

@keyframes slideUp {
    0% {
        color: transparent;
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 1424px) {
    .section {
        display: flex;
        flex-direction: column;
        position: relative;
        color: #ffeded;
        text-transform: uppercase;
        font-size: 7vmin;
    }

    section:nth-child(even) {
        flex-direction: column-reverse;
    }

    form {
        width: 80%;
    }

    form .tophalf {
        flex-direction: column;
    }

    form .tophalf .item {
        width: 100%;
    }

    form .action {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    form .action input {
        width: 60%;
    }

    .icon {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 10px;
        font-size: 38px;
    }
}

@media (max-width: 420px) {
    h2 {
        font-size: 35px;
    }

    h6 {
        font-size: 15px;
    }
}

@media (max-width: 343px) {
    h2 {
        font-size: 30px;
    }

    h6 {
        font-size: 10px;
    }
}